In [1]:
# cargar df 
import pandas as pd
df = pd.read_csv('medical_students_dataset.csv')

C:\Users\usuario\AppData\Local\Temp\ipykernel_10000\431985371.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import sys
#sys.path.append(r"C:\Users\usuario\OneDrive - Mondragon Unibertsitatea\Escritorio\BDATA\BDATA4\Programacion\autoprep\src")
import autoprep as ap

In [ ]:
# Inicializa la clase AutoPrep
processor = ap.AutoPrep(df)
#processor = ap.autoprep.AutoPrep(df)
# 1. Analizar y manejar valores faltantes
missing_analysis = processor.analyze_missing(impute_strategy='mode', threshold=0.7)
print("Missing Analysis:", missing_analysis)
print(' ')

# 2. Manejo de outliers
outliers_analysis = processor.handle_outliers()
print("Outliers Analysis:", outliers_analysis)
print(' ')

# 3. Obtener estadísticas básicas
basic_stats = processor.get_basic_stats()
print("Basic Statistics:", basic_stats)
print(' ')

# 4. Realizar pruebas de normalidad
normality_tests = processor.normality_test()
print("Normality Tests:", normality_tests)
print(' ')

# 5. Ejecutar modelos (en este caso, detecta automáticamente el tipo de TARGET)
model_results = processor.run_models(target="Smoking")
print("Model Results:", model_results)
print(' ')

# 6. Feature selection
selected_features = processor.feature_selection()

c:\Users\usuario\OneDrive - Mondragon Unibertsitatea\Escritorio\BDATA\BDATA4\Programacion\autoprep\src\autoprep\autoprep.py:88: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mode()[0], inplace=True)

Missing Analysis: {'total_missing': {'Student ID': 20000, 'Age': 20000, 'Gender': 20000, 'Height': 20000, 'Weight': 20000, 'Blood Type': 20000, 'BMI': 20000, 'Temperature': 20000, 'Heart Rate': 20000, 'Blood Pressure': 20000, 'Cholesterol': 20000, 'Diabetes': 20000, 'Smoking': 20000}, 'columns_with_missing': {'Student ID': 20000, 'Age': 20000, 'Gender': 20000, 'Height': 20000, 'Weight': 20000, 'Blood Type': 20000, 'BMI': 20000, 'Temperature': 20000, 'Heart Rate': 20000, 'Blood Pressure': 20000, 'Cholesterol': 20000, 'Diabetes': 20000, 'Smoking': 20000}, 'missing_ratio': {'Student ID': 0.1, 'Age': 0.1, 'Gender': 0.1, 'Height': 0.1, 'Weight': 0.1, 'Blood Type': 0.1, 'BMI': 0.1, 'Temperature': 0.1, 'Heart Rate': 0.1, 'Blood Pressure': 0.1, 'Cholesterol': 0.1, 'Diabetes': 0.1, 'Smoking': 0.1}}

Outliers Analysis: {'Student ID': 0, 'Age': 0, 'Height': 0, 'Weight': 0, 'BMI': 0, 'Temperature': 2, 'Heart Rate': 0, 'Blood Pressure': 0, 'Cholesterol': 0}

Basic Statistics: {'Student ID': {'mean': 44976.83787, 'median': 44387.0, 'std': 31231.06606838858, 'min': 1.0, 'max': 100000.0}, 'Age': {'mean': 26.219405, 'median': 27.0, 'std': 4.677371680228563, 'min': 18.0, 'max': 34.0}, 'Height': {'mean': 172.452425292162, 'median': 172.1298881592952, 'std': 15.61632779507411, 'min': 150.00004139318173, 'max': 199.9986386856763}, 'Weight': {'mean': 66.97448436000076, 'median': 66.57765980449146, 'std': 18.73254358257403, 'min': 40.00057777326063, 'max': 99.99990661273384}, 'BMI': {'mean': 22.01246613306998, 'median': 21.60254461395771, 'std': 7.769038158778704, 'min': 10.074837093946837, 'max': 44.35511259941607}, 'Temperature': {'mean': 98.38063663888526, 'median': 98.52973946154157, 'std': 0.8138260493872347, 'min': 96.39783549516254, 'max': 100.82485716582524}, 'Heart Rate': {'mean': 79.25339, 'median': 77.0, 'std': 10.974254219726204, 'min': 60.0, 'max': 99.0}, 'Blood Pressure': {'mean': 113.70223, 'median': 112.0, 'std': 13.903325125283795, 'min': 90.0, 'max': 139.0}, 'Cholesterol': {'mean': 188.337725, 'median': 192.0, 'std': 37.45868994761613, 'min': 120.0, 'max': 249.0}}

Normality Tests: {'Student ID': {'skewness': 0.07523118432168728, 'kurtosis': -1.26667487868898, 'is_normal': True}, 'Age': {'skewness': -0.12286598321864269, 'kurtosis': -1.0548103656738246, 'is_normal': True}, 'Height': {'skewness': 0.0772714923363323, 'kurtosis': -1.2669346265782473, 'is_normal': True}, 'Weight': {'skewness': 0.07795113697710976, 'kurtosis': -1.2651174927800724, 'is_normal': True}, 'BMI': {'skewness': 0.31225424889893855, 'kurtosis': -0.5558284654304275, 'is_normal': True}, 'Temperature': {'skewness': -1.1497385439639531, 'kurtosis': 1.0678423124160887, 'is_normal': True}, 'Heart Rate': {'skewness': 0.06615682113120898, 'kurtosis': -1.013439987822752, 'is_normal': True}, 'Blood Pressure': {'skewness': 0.15674112850461355, 'kurtosis': -1.0991573139698068, 'is_normal': True}, 'Cholesterol': {'skewness': -0.19707832068243486, 'kurtosis': -1.2354169988298411, 'is_normal': True}}

Model Results: {'RandomForestClassifier ACC': 0.8433, 'LogisticRegression ACC': 0.819675}

c:\Users\usuario\anaconda3\envs\DM_11\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
# 6. Ejecución de análisis completo (incluye todas las funciones anteriores)
full_analysis = processor.run_full_analysis(target="Smoking")
print("Full Analysis:", full_analysis)

Full Analysis: {'missing_analysis': {'total_missing': {'Student ID': 0, 'Age': 0, 'Gender': 0, 'Height': 0, 'Weight': 0, 'Blood Type': 0, 'BMI': 0, 'Temperature': 0, 'Heart Rate': 0, 'Blood Pressure': 0, 'Cholesterol': 0, 'Diabetes': 0, 'Smoking': 0}, 'columns_with_missing': {}, 'missing_ratio': {'Student ID': 0.0, 'Age': 0.0, 'Gender': 0.0, 'Height': 0.0, 'Weight': 0.0, 'Blood Type': 0.0, 'BMI': 0.0, 'Temperature': 0.0, 'Heart Rate': 0.0, 'Blood Pressure': 0.0, 'Cholesterol': 0.0, 'Diabetes': 0.0, 'Smoking': 0.0}}, 'outliers_analysis': {'Student ID': 0, 'Age': 0, 'Height': 0, 'Weight': 0, 'BMI': 0, 'Temperature': 2, 'Heart Rate': 0, 'Blood Pressure': 0, 'Cholesterol': 0}, 'basic_stats': {'Student ID': {'mean': 44976.83787, 'median': 44387.0, 'std': 31231.06606838858, 'min': 1.0, 'max': 100000.0}, 'Age': {'mean': 26.219405, 'median': 27.0, 'std': 4.677371680228563, 'min': 18.0, 'max': 34.0}, 'Height': {'mean': 172.452425292162, 'median': 172.1298881592952, 'std': 15.61632779507411, 'min': 150.00004139318173, 'max': 199.9986386856763}, 'Weight': {'mean': 66.97448436000076, 'median': 66.57765980449146, 'std': 18.73254358257403, 'min': 40.00057777326063, 'max': 99.99990661273384}, 'BMI': {'mean': 22.01246613306998, 'median': 21.60254461395771, 'std': 7.769038158778704, 'min': 10.074837093946837, 'max': 44.35511259941607}, 'Temperature': {'mean': 98.38063663888526, 'median': 98.52973946154157, 'std': 0.8138260493872347, 'min': 96.39783549516254, 'max': 100.82485716582524}, 'Heart Rate': {'mean': 79.25339, 'median': 77.0, 'std': 10.974254219726204, 'min': 60.0, 'max': 99.0}, 'Blood Pressure': {'mean': 113.70223, 'median': 112.0, 'std': 13.903325125283795, 'min': 90.0, 'max': 139.0}, 'Cholesterol': {'mean': 188.337725, 'median': 192.0, 'std': 37.45868994761613, 'min': 120.0, 'max': 249.0}}, 'normality_tests': {'Student ID': {'skewness': 0.07523118432168728, 'kurtosis': -1.26667487868898, 'is_normal': True}, 'Age': {'skewness': -0.12286598321864269, 'kurtosis': -1.0548103656738246, 'is_normal': True}, 'Height': {'skewness': 0.0772714923363323, 'kurtosis': -1.2669346265782473, 'is_normal': True}, 'Weight': {'skewness': 0.07795113697710976, 'kurtosis': -1.2651174927800724, 'is_normal': True}, 'BMI': {'skewness': 0.31225424889893855, 'kurtosis': -0.5558284654304275, 'is_normal': True}, 'Temperature': {'skewness': -1.1497385439639531, 'kurtosis': 1.0678423124160887, 'is_normal': True}, 'Heart Rate': {'skewness': 0.06615682113120898, 'kurtosis': -1.013439987822752, 'is_normal': True}, 'Blood Pressure': {'skewness': 0.15674112850461355, 'kurtosis': -1.0991573139698068, 'is_normal': True}, 'Cholesterol': {'skewness': -0.19707832068243486, 'kurtosis': -1.2354169988298411, 'is_normal': True}}, 'model_accuracy': {'RandomForestClassifier ACC': 0.84345, 'LogisticRegression ACC': 0.819675}}

c:\Users\usuario\anaconda3\envs\DM_11\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
df.head()

,Student ID,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Gender_Male,Blood Type_AB,Blood Type_B,Blood Type_O,Diabetes_Yes,Smoking
0,1.0,18.0,161.777924,72.354947,27.645835,NaN,95.0,109.0,203.0,False,False,False,True,False,NaN
1,2.0,NaN,152.069157,47.630941,NaN,98.714977,93.0,104.0,163.0,True,False,True,False,False,No
2,3.0,32.0,182.537664,55.741083,16.729017,98.260293,76.0,130.0,216.0,False,False,False,False,True,No
3,NaN,30.0,182.112867,63.332207,19.096042,98.839605,99.0,112.0,141.0,True,False,True,False,False,Yes
4,5.0,23.0,NaN,46.234173,NaN,98.480008,95.0,NaN,231.0,False,False,False,True,False,No

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50793 entries, 2 to 199998
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Student ID      50793 non-null  float64
 1   Age             50793 non-null  float64
 2   Height          50793 non-null  float64
 3   Weight          50793 non-null  float64
 4   Temperature     50793 non-null  float64
 5   Heart Rate      50793 non-null  float64
 6   Blood Pressure  50793 non-null  float64
 7   Cholesterol     50793 non-null  float64
 8   Gender_Male     50793 non-null  int32
 9   Blood Type_AB   50793 non-null  int32
 10  Blood Type_B    50793 non-null  int32
 11  Blood Type_O    50793 non-null  int32
 12  Diabetes_Yes    50793 non-null  int32
 13  Smoking_Yes     50793 non-null  int32
 14  BMI             50793 non-null  float64
dtypes: float64(9), int32(6)
memory usage: 5.0 MB

In [3]:
# convertir categoricas a dummies en df
df.dropna(inplace=True)
smoking = df['Smoking']
df.drop('Smoking', axis=1, inplace=True)
df = pd.get_dummies(df, drop_first=True)
df[df.select_dtypes(include=['bool']).columns] = df.select_dtypes(include=['bool']).astype(int)
all_numeric = df.apply(lambda col: pd.api.types.is_numeric_dtype(col)).all()
df['Smoking'] = smoking
# Inicializa la clase AutoPrep
processor = ap.AutoPrep(df)
# cread duumies de variables categoricas
fetures = processor.select_features(method='selectkbest', k=5)
print(fetures)

ValueError: Target column must be specified for RFE method.

In [10]:
df['BMI'].dtype

dtype('float64')

In [ ]:
import numbers
valor = isinstance(df['BMI'].dtype, numbers.Number)
if df['BMI'].dtype in [float32, float64, int32, int64]:
    print('hola')

hola

In [7]:
df

,Student ID,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Gender_Male,Blood Type_AB,Blood Type_B,Blood Type_O,Diabetes_Yes,Smoking
0,1.0,18.0,161.777924,72.354947,27.645835,NaN,95.0,109.0,203.0,1,1,1,1,1,NaN
1,2.0,NaN,152.069157,47.630941,NaN,98.714977,93.0,104.0,163.0,1,1,1,1,1,No
2,3.0,32.0,182.537664,55.741083,16.729017,98.260293,76.0,130.0,216.0,1,1,1,1,1,No
3,NaN,30.0,182.112867,63.332207,19.096042,98.839605,99.0,112.0,141.0,1,1,1,1,1,Yes
4,5.0,23.0,NaN,46.234173,NaN,98.480008,95.0,NaN,231.0,1,1,1,1,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,NaN,24.0,176.503260,95.756997,30.737254,99.170685,65.0,121.0,130.0,1,1,1,1,1,No
199996,99997.0,29.0,163.917675,45.225194,16.831734,97.865785,62.0,125.0,198.0,1,1,1,1,1,Yes
199997,99998.0,34.0,NaN,99.648914,33.189303,98.768210,60.0,90.0,154.0,1,1,1,1,1,No
199998,99999.0,30.0,156.446944,50.142824,20.486823,98.994212,61.0,106.0,225.0,1,1,1,1,1,No
199999,100000.0,20.0,153.927409,99.928405,42.175189,98.595817,95.0,133.0,132.0,1,1,1,1,1,No

In [17]:
df.apply(lambda col: pd.api.types.is_numeric_dtype(col)).all()

False

In [32]:
k='hgfd'
# verificar si k es integer

if not isinstance(k, int):
            raise TypeError("k must be an integer value.")

TypeError: k must be an integer value.